@media (min-width:1024px){
    #header .mobile-menu-btn{
        display: none;
    }
}
/*tabet va mobile*/
@media (max-width:1023px){
    .btn{
        padding: 16px 18px;
    }
    .contact-form .form-control{
        padding: 15px;
    }
    
    .socials-list{
        font-size: 48px;
    }
    .socials-list > a{
        margin : 0 8px;
    }
    #footer .copyright{
        padding: 12px 0px;
    }
    #nav .subnav a{
        padding: 5px 12px;
    }
}

@media (min-width:740px)and (max-width:1023px){
    .contact-info{
        line-height: 2;
    }
    #header .mobile-menu-btn{
        display: none;
    }
}

@media (max-width:739px){
    .s-full-width,
    .s-col-full{
        width:100% !important;
    }
    #nav {
        display: block;
    }
    #nav > li{
        display: block;
    }
    #nav li a{
        padding: 1px 24px;
    }
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        color:#fff;
        padding: 5px 41px;
    }
    #header .search-btn{
        display: none;
    }
    #header {
        overflow: hidden;
    }
    #content .member-img{
        width:60%;
    }
    .contact-form{
        margin-top:32px;
    }
    .s-mt-8{
        margin-top:8px !important
    }
    .contact-info{
        line-height: 2;
    }
}
